[Desktop Entry]
Name=ZzLogg
GenericName=Log file viewer
Exec=ZzLogg %F
Icon=ZzLogg
Type=Application
Comment=A smart interactive log explorer.
Terminal=false
Categories=Qt;Utility;TextTools;Development;
MimeType=text/plain;
Actions=Session;NewInstance;

[Desktop Action Session]
Exec=ZzLogg --load-session %F
Name=Open With Previous Session

[Desktop Action NewInstance]
Exec=ZzLogg --multi %F
Name=Open In A New ZzLogg Window
